.consul-box{
	display: flex;
  	justify-content: center;
  	padding:20px;
}

#answerContent {
	width: 700px;
	height: 300px;
}

.answer-box {
	text-align:center;
	display: flex;
  	justify-content: center;
  	
}

.answer-title{
	text-align:center;
	font-size:20px;
	
}


.consul-tc{
	text-align:center;
	font-size:20px;
}

p {
	margin-bottom:0;
}