body {
  padding-top: 0px;
}


.main {
  padding-top: 50px;
  padding-left: 0px;
  position: fixed;
  display: block;
  top: 0px;
  bottom: 0;
  margin-top:80px;
}

.page-header {
  margin-top: 0px;
}