<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>回答画面</h1>	
			<table>
				<tr>
					<th>タイトル</th>
					<th>相談内容</th>
				</tr>
				<tr th:each=" consultation: ${ConsultationList}">
				<!-- <td th:text="${consultation.userName}"></td> -->
				<td th:text="${consultation.title}"></td>
				<td th:text="${consultation.content}"></td>	
				</tr>
			</table>   
			
			<table>
				<tr>
					<th>回答</th>
				</tr>
				<tr th:each=" answer: ${AnswerList}">
				<td th:text="${answer.answerContent}"></td>	
				</tr>
			</table>   
			<form method="get" action="#" th:action="@{/answer}" th:object="${answerForm}">
				<tr th:each=" consultation: ${consultationsList}">
				<td class="btn btn-danger" th:href="@{'/answer'}" th:text="${consultation.title}"></button>
			</form>		

			
	<form method="post" action="#" th:action="@{/answer}" th:object="${answerForm}">
		<label for="content">回答　:</label>
		<input type="hidden" name="userName" id="userName" th:field="${answerForm.userName}">
		<input type="hidden" name="title" id="title" th:field="${answerForm.title}">
		<input type="hidden" name="content" id="content" th:field="${answerForm.content}">
		<textarea name="answerContent" id="answerContent" rows="3" cols="40" th:field="${answerForm.answerContent}"></textarea><br>
		<div th:if="${#fields.hasErrors('answerContent')}" th:errors="*{answerContent}"></div>
		<input type="submit" value="投稿する">
	</form>
			 <a class="btn btn-primary" th:href="@{'/home'}">戻る</a>

</body>
</html>