<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"></meta>
</head>
<body>
    <!-- ポイント：th:fragment -->
    <div th:fragment="home_contents">
        <div class="page-header">
            <h1>ホーム</h1>
           
              
        </div>
        	<h2 th:text="${complete}"></h2>
        	<a th:href="@{'/consultation'}">相談する</a><br>
        	
        	
        	<form method="post" th:action="@{login/home}" th:object="${consultationForm}">
        	<table>
				<tr>
					<th>タイトル</th>
				</tr>
				<tr th:each="ConsultationController : ${UserConsultationList}">
				
					<td th:text="${userConsultation.title}"></td>

				</tr>
			</table>
			</form>
             
    </div>
</body>
</html>