<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"></meta>
</head>
<body>
    <!-- ポイント：th:fragment -->
    <div th:fragment="home_contents">
        <div class="page-header">
            <h1>ホーム</h1> 
        </div>
        	<h2 th:text="${complete}"></h2>
        	<a class="btn btn-danger" th:href="@{'/consultation'}">相談する</a><br>
        	<table>
				<tr>
					
					<h2>相談一覧</h2>
				</tr>
				<tr th:each=" consultation: ${consultationsList}">
					<a class="btn btn-danger" th:href="@{'/answer'}" th:text="${consultation.title}"></a>
					<br>				
				</tr>
			</table>   
			
    </div>
    
</body>
</html>