<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"></meta>
</head>
<body>
    <!-- ポイント：th:fragment -->
    <div th:fragment="home_contents">
        <div class="page-header">
            <h1 class="text-center">ホーム</h1> 
        </div>
        <h2 th:text="${complete}"></h2>
        <a class="btn btn-danger" th:href="@{'/consultation'}">相談する</a><br>
        <h2>相談一覧</h2>
        	
        <table>
			<tr th:each=" consultation: ${consultationsList}">
				
				<a class="btn btn-danger" th:href="@{/answer
				(userName=${consultation.userName},
				title=${consultation.title},
				content=${consultation.content})}" 
				th:text="${consultation.title}"></a>
				
				<br>
			</tr>
		</table>   
    </div>
</body>
</html>